# Backend
/backend/bin/
/backend/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/backend/.env

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local
/frontend/coverage/
/frontend/.DS_Store
/frontend/.vite
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem

# Vercel
.vercel
.env*.local

# Logs
logs
*.log

# Testing
coverage/
.nyc_output/

# Cache directories
.npm/
.eslintcache
.stylelintcache
.parcel-cache/
.cache/
